<div class="row justify-content-center">
    <div class="col-md-3">
        <div class="card card-container">
            <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
            <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <div class="form-group m-3">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" [(ngModel)]="model.username" required
                        #username="ngModel" />
                    <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
                        Username is required
                    </div>
                </div>
                <div class="form-group m-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="model.password" required
                        minlength="3" #password="ngModel" />
                    <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
                        <div *ngIf="password.errors['required']">Password is required</div>
                        <div *ngIf="password.errors['minlength']">
                            Password must be at least 3 characters
                        </div>
                    </div>
                </div>
                <div class="form-group text-center mb-1">
                    <button class="btn btn-primary btn-block">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>