<div class="container-fluid">
    <div class="row">
        <!-- <h3 class="d-flex justify-content-center">Angular 13 CRUD using .Net Core Web API </h3>

  <nav *ngIf="loggedIn()" class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <button routerLink="department" class="m-1 btn btn-light btn-outline-primary" Button>Departments</button>
      </li>
      <li class="nav-item">
        <button routerLink="employee" class="m-1 btn btn-light btn-outline-primary" Button>Employees</button>
      </li>
    </ul>

    <ul class="navbar-nav justify-content-end">
      <li class="nav-item">
        <button class="m-1 btn btn-light btn-outline-danger" (click)="logout()" href="#">Logout</button>
      </li>
    </ul>
  </nav> -->

        <div *ngIf="loggedIn()" class="col-md-3 col-lg-2 p-3 d-md-block sidebar collapse text-white bg-dark">
            <div class="position-sticky pt-3 sidebar-sticky">
                <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none" style="cursor: default;">
                    
                    <span class="fs-4 text-center">Application</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a routerLink="" class="nav-link active" aria-current="page">
                            <i class="fa-regular fa-house me-2"></i>
                            Home
                        </a>
                    </li>
                    <li>
                        <a routerLink="" class="nav-link text-white">
                            <i class="fa-regular fa-chart-line me-2"></i>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a routerLink="department" class="nav-link text-white">
                            <i class="fa-regular fa-building me-2"></i>
                            Department
                        </a>
                    </li>
                    <li>
                        <a routerLink="employee" class="nav-link text-white">
                            <i class="fa-regular fa-circle-user me-2"></i>
                            Employee
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                        <strong>mdo</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <router-outlet></router-outlet>
        </main>

    </div>
</div>