<div [ngClass]="{'login-body text-center': !loggedIn(),'container-fluid': isLoggedIn}">
    <div [ngClass]="{'row': isLoggedIn}">

        <div *ngIf="isLoggedIn" class="col-md-3 col-lg-2 p-3 d-md-block sidebar collapse text-white bg-dark">
            <div class="position-sticky pt-3 sidebar-sticky">
                <h3 class="align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none text-center"
                    style="cursor: default;">
                    Application
                </h3>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a routerLink="home" routerLinkActive="active" class="nav-link text-white" aria-current="page">
                            <i class="fa-regular fa-house me-2"></i>
                            Home
                        </a>
                    </li>
                    <li>
                        <a routerLink="dashboard" routerLinkActive="active" class="nav-link text-white">
                            <i class="fa-regular fa-chart-line me-2"></i>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a routerLink="department" routerLinkActive="active" class="nav-link text-white">
                            <i class="fa-regular fa-building me-2"></i>
                            Department
                        </a>
                    </li>
                    <li>
                        <a routerLink="employee" routerLinkActive="active" class="nav-link text-white">
                            <i class="fa-regular fa-circle-user me-2"></i>
                            Employee
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                        <strong>{{username}}</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" routerLink="user">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <main [ngClass]="{'col-md-9 ms-sm-auto col-lg-10 px-md-4': isLoggedIn}">
            <router-outlet></router-outlet>
        </main>

    </div>
</div>